annotated-types==0.7.0
anyio==4.9.0
beautifulsoup4==4.13.4
cbor==1.0.0
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
dnspython==2.7.0
fastapi==0.115.14
h11==0.16.0
idna==3.10
ijson==3.4.0
inscriptis==2.6.0
ir_datasets==0.5.11
lxml==6.0.0
lz4==4.4.4
numpy==2.3.1
pyarrow==20.0.0
pycountry==24.6.1
pydantic==2.11.7
pydantic_core==2.33.2
pymongo==4.13.2
PyYAML==6.0.2
requests==2.32.4
sniffio==1.3.1
soupsieve==2.7
starlette==0.46.2
tqdm==4.67.1
trec-car-tools==2.6
typing-inspection==0.4.1
typing_extensions==4.14.0
unlzw3==0.2.3
urllib3==2.5.0
uvicorn==0.34.3
warc3-wet==0.2.5
warc3-wet-clueweb09==0.2.5
zlib-state==0.1.9
sicket-learn==0.1.0
nltk==3.9.1
pandas==2.2.3
textacy==0.13.0
num2words==0.5.14
spellchecker==0.8.3
indexer==0.1.0
sentence_transformers==5.0.0
rank_bm25==0.2.2
matplotlib==3.9.2